/*
Styles for Comments Since Last Visit, Reloaded
*/
/* 
    Created on 	: Aug 29, 2015, 8:40:34 AM
    Updated	: September 9, 2015
    Author     	: CK MacLeod
*/

/******************
*****COMMENTS/TEXT*
******************/

/* comment out for use on OT dev blog ***
******************************************/
.new-comment > .comment-body {
        border-right: 2px solid #117bb8;
        -webkit-box-shadow: 10px 0px 5px -5px rgba(17,123,184,1);
        -moz-box-shadow: 10px 0px 5px -5px rgba(17,123,184,1);
        box-shadow: 10px 0px 5px -5px rgba(17,123,184,1);
}

.new-comment article {
    position: relative;
}

#cslvr-comments-heading {
    display: none;
}

.appended {
    background-color: #fff;
    border: 1px dotted black;
    clear: both;
    color: black;
    margin: 12px;
    padding: 12px;
    width: 100%;
}

#cslvr-first-visit {
    background-color: Gray;
    border-right: none;                    
    color: #fff;
    float: right;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 24px;
    padding: 6px;
    text-align: center;
}

/******************
*****CLICKER*******
******************/
.gtn_clicker {
    display: none;
}

.new-comment .gtn_clicker {
    bottom: -6px;
    display: block;
    padding: 4px;
    position: absolute;
    right: -25px;
}

.new-comment .gtn_clicker:hover {
    background-color: #138bcf;
    color: #fff;
    cursor: pointer;
    -webkit-box-shadow: 2px 2px 2px 1px #138bcf;
    -moz-box-shadow: 2px 2px 2px 1px #138bcf;
    box-shadow: 2px 2px 2px 1px #138bcf;
}

.new-comment .gtn_clicker a, #cslvr-comments-heading .gtn_clicker a {
    color: #fff;
}

#go-to-next-top .gtn_clicker {
   display: block;
}

/******************
*****BUTTONS*******
******************/
#cslvr-buttons {
    width: 100%;
    margin: 1em 0;
    padding-bottom: 1em;
}

#go-to-next-top-button, #show-hide-cslvr-button, #cslvr-sort-button,#cslvr-mark-all-read-button {
    max-width: 48%;
    height: 50px;
    display: block;
}

#show-hide-cslvr-button {
    float: right;    
} 

#cslvr-sort-button {
    display: none;
}

#cslvr-mark-all-read-button {
    float: right;
}

#cslvr-buttons.no-new-comments, #cslvr_bottom_buttons.no-new-comments {
    display:none;
}

#show-hide-cslvr-button-bottom {
    float: left;
    margin-bottom: 2em;
}

#cslvr_bottom_buttons {
    clear: both;
    margin-top: 2em;
}

/******************
*****MESSAGES******
******************/

#cslvr-top-messages {
    clear: both;
}

#show-only-messages { 
    max-width: 40%;
    float:right;
    font-style: italic;
    font-size: 80%;
    margin-bottom: 1em;
}

#go-to-next-messages, #cslvr-sorted-messages {
    max-width: 40%;
    font-style: italic;
    font-size: 80%;
    float: left;
    margin-bottom: 1em;
}

/********************************************************************
Styles for Comments Since Last Visit: OT DEVELOPMENT BLOG
*******************************************************************

.new-comment > article {
        border-right: 2px solid #117bb8;
        -webkit-box-shadow: 10px 0px 5px -5px rgba(17,123,184,1);
        -moz-box-shadow: 10px 0px 5px -5px rgba(17,123,184,1);
        box-shadow: 10px 0px 5px -5px rgba(17,123,184,1);
}
    
#go-to-next-top-button, #show-hide-cslvr-button, #cslvr-sort-button, #show-hide-cslvr-button-bottom {
    	background-color: #117bb8;
	max-width: 48%;    
}

#go-to-next-top-button:hover, #show-hide-cslvr-button:hover, #cslvr-sort-button:hover, #show-hide-cslvr-button-bottom:hover {
    background-color: #138bcf;   
}

#cslvr-mark-all-read-button {
background: none repeat scroll 0 0 #DD5F7F;
}

#cslvr-mark-all-read-button:hover {
background: none repeat scroll 0 0 #BC516C;
}

#cslvr-comments-heading h2 {
	font-size: 150%;
	margin: 24px 0;
	}

#cslvr-comments-heading article {
	border: 1px dotted #a3a3a3;
}

#cslvr-comments-heading .sce-edit-comment {
	display: none;
}

@media only screen and (max-width: 640px) {
	.new-comment .gtn_clicker {
		bottom: -6px;
   		right: -4px;
		padding: 8px;
		background-color: #138bcf;
		color: #fff;
		    -webkit-box-shadow: 2px 2px 2px 1px #138bcf;
		    -moz-box-shadow: 2px 2px 2px 1px #138bcf;
		    box-shadow: 2px 2px 2px 1px #138bcf;
	}

	.new-comment .gtn_clicker:hover {
		background-color:  #117bb8;
		color: #fff;
		    -webkit-box-shadow: 2px 2px 2px 1px  #117bb8;
		    -moz-box-shadow: 2px 2px 2px 1px  #117bb8;
		    box-shadow: 2px 2px 2px 1px  #117bb8;
	}

	#go-to-next-top-button, #show-hide-cslvr-button, #cslvr-sort-button,#cslvr-mark-all-read-button,#show-hide-cslvr-button-bottom {
		height: 60px;
	}

	
}
*/